{% extends "helpdesk/base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "CUBI Helpdesk Dashboard" %}{% endblock %}

{% block helpdesk_body %}

<div class="alert alert-warning">
<p>{% trans "Welcome to your Helpdesk Dashboard BETA! From here you can quickly see tickets submitted by you, tickets you are working on, and those tickets that have no owner." %}</p>
</div>


{% include 'helpdesk/include/summary.html' %}


{% comment "General stats link removed for UI" %}
{% include 'helpdesk/include/stats.html' %}

{% endcomment %}

{% comment "All tickets submitted link removed for UI %}

{% if all_tickets_reported_by_current_user %}
{% trans "All Tickets you've submitted" as ticket_list_caption %}
<!-- Create a variable for use in collapse js call. This allows us to have unique targets -->
{% trans "one" as caption_number %}
{% include 'helpdesk/include/tickets.html' with ticket_list=all_tickets_reported_by_current_user ticket_list_empty_message="" %}
{% endif %}
<br>
{% endcomment %}


{% trans "Your Open Tickets" as ticket_list_caption %}
{% trans "You have no tickets assigned to you." as no_assigned_tickets %}
<!-- Create a variable for use in collapse js call. This allows us to have unique targets -->
{% trans "two" as caption_number %} 
{% include 'helpdesk/include/tickets.html' with ticket_list=user_tickets ticket_list_empty_message=no_assigned_tickets %}


{% include 'helpdesk/include/unassigned.html' %}


{% if user_tickets_closed_resolved %}
{% trans "Your Closed & Resolved Tickets" as ticket_list_caption %}
<!-- Create a variable for use in collapse js call. This allows us to have unique targets -->
{% trans "three" as caption_number %}
{% include 'helpdesk/include/tickets.html' with ticket_list=user_tickets_closed_resolved ticket_list_empty_message="" %}
{% endif %}

{% endblock %}
